
/* Start Sprite Master CSS */
.assyria,.south-sudan,.caribbean,.first-nations,.american-samoa,.singapore,.christmas-island,.niue,.jordan,.finland,.Aruba,.lithuania,.honduras,.slovakia,.micronesia,.bulgaria,.moldova,.crotia,.somalia,.marshall-islands,.oman,.kyrgyzstan,.gabon,.bolivia,.mali,.turks,.ge,.bahamas,.northern-mariana-islands,.togo,.panama,.gibraltar,.cocos-islands,.botswana,.malta,.india,.western-sahara,.tokelau,.peru,.gambia,.cg,.mexico,.iran,.afghanistan,.to,.saint-lucia,.kuwait,.equatorial-guinea,.cook-islands,.yemen,.saint-pierre,.guam,.colombia,.netherlands,.ethiopia,.an,.taiwan,.catalonia,.sri-lanka,.guyana,.solomon-islands,.czechoslovakia,.nepal,.uganda,.qatar,.argentina,.barbados,.fam,.paraguay,.lesotho,.heard-island,.svalbard,.south-africa,.burkina-faso,.azerbaijan,.monaco,.denmark,.senegal,.benin,.united-states,.madagascar,.hungary,.dominican-republic,.suriname,.wales,.saint-vincent,.brunei-darussalam,.macedonia,.ireland,.el-salvador,.grenada,.zambia,.virgin-islands,.brazil,.macao,.ecuador,.tf,.swaziland,.kn,.ghana,.reunion,.bouvet-island,.montserrat,.egypt,.tajikistan,.south-korea,.greenland,.central-african-republic,.bz,.new-caledonia,.malawi,.iraq,.united-arab-emirates,.tunisia,.phillipines,.lebanon,.guadeloupe,.nigeria,.anguilla,.tonga,.poland,.kazakhstan,.guatemala,.china,.spain,.armenia,.tv,.saudi-arabia,.costa-rica,.russia,.norway,.europeanunion,.tanzania,.portugal,.sweden,.cape-verde,.jamaica,.bosnia,.australia,.liberia,.solvenia,.czech-republic,.falkland-islands,.mayotte,.belgium,.latvia,.djibouti,.samoa,.san-marino,.faroe-islands,.burundi,.haiti,.kenya,.bermuda,.indonesia,.kiribati,.uzbekistan,.mongolia,.syria,.km,.canada,.mauritania,.israel,.algeria,.viet-nam,.belarus,.maldives,.andorra,.turkmenistan,.papua-new-guinea,.laos,.ivory-coast,.norfolk-islands,.mozambique,.italy,.pakistan,.cayman-islands,.gs,.cameroon,.ukraine,.eritrea,.albania,.scotland,.liechtenstein,.wallis-and-futuna,.guyana,.palestine,.sudan,.cuba,.nauru,.austria,.palau,.hong-kong,.germany,.saint-helena,.cyprus,.japan,.fiji,.bangladesh,.united-states-minor,.aland-islands,.morocco,.luxembourg,.sierra-leone,.new-zealand,.bahrain,.montenegro,.libya,.dominica,.vatican-city,.france,.sao-tome,.cambodia,.united-kingdom,.venezuela,.uruguay,.myanmar,.chad,.french-guiana,.virgin-islands-us,.bhutan,.martinique,.england,.estonia,.thailand,.north-korea,.congo,.namibia,.mauritius,.indian-ocean,.timor-leste,.french-polynesia,.guinea,.switzerland,.zimbabwe,.niger,.malaysia,.iceland,.antigua-and-barbuda,.greece,.chile,.vanuatu,.romania,.nicaragua,.trinida-and-tobago,.pitcaim,.serbia,.angola,.puerto-rico,.seychelles,.rwanda{display: inline-block;background-repeat: norway-repeat;background-image: url('flags.png');width:16px;height:11px;}
.american-samoa{background-position:0px 0px;}
.singapore{background-position:-17px 0px;}
.christmas-island{background-position:-34px 0px;}
.niue{background-position:-51px 0px;}
.jordan{background-position:-68px 0px;}
.finland{background-position:-85px 0px;}
.Aruba{background-position:-102px 0px;}
.lithuania{background-position:-119px 0px;}
.honduras{background-position:-136px 0px;}
.slovakia{background-position:-153px 0px;}
.micronesia{background-position:-170px 0px;}
.bulgaria{background-position:-187px 0px;}
.moldova{background-position:-204px 0px;}
.crotia{background-position:-221px 0px;}
.somalia{background-position:-238px 0px;}
.marshall-islands{background-position:-255px 0px;}
.oman{background-position:-272px 0px;}
.kyrgyzstan{background-position:-289px 0px;}
.gabon{background-position:-306px 0px;}
.bolivia{background-position:-323px 0px;}
.mali{background-position:-340px 0px;}
.turks{background-position:-357px 0px;}
.ge{background-position:-374px 0px;}
.bahamas{background-position:-391px 0px;}
.northern-mariana-islands{background-position:-408px 0px;}
.togo{background-position:-425px 0px;}
.panama{background-position:-442px 0px;}
.gibraltar{background-position:-459px 0px;}
.cocos-islands{background-position:-476px 0px;}
.botswana{background-position:-493px 0px;}
.malta{background-position:0px -12px;}
.india{background-position:-17px -12px;}
.western-sahara{background-position:-34px -12px;}
.tokelau{background-position:-51px -12px;}
.peru{background-position:-68px -12px;}
.gambia{background-position:-85px -12px;}
.cg{background-position:-102px -12px;}
.mexico{background-position:-119px -12px;}
.iran{background-position:-136px -12px;}
.afghanistan{background-position:-153px -12px;}
.to{background-position:-170px -12px;}
.saint-lucia{background-position:-187px -12px;}
.kuwait{background-position:-204px -12px;}
.equatorial-guinea{background-position:-221px -12px;}
.cook-islands{background-position:-238px -12px;}
.yemen{background-position:-255px -12px;}
.saint-pierre{background-position:-272px -12px;}
.guam{background-position:-289px -12px;}
.colombia{background-position:-306px -12px;}
.netherlands{background-position:-323px -12px;}
.ethiopia{background-position:-340px -12px;}
.an{background-position:-357px -12px;}
.taiwan{background-position:-374px -12px;}
.catalonia{background-position:-391px -12px;}
.sri-lanka{background-position:-408px -12px;}
.guyana{background-position:-425px -12px;}
.solomon-islands{background-position:-442px -12px;}
.czechoslovakia{background-position:-459px -12px;}
.nepal{background-position:-476px -12px;}
.uganda{background-position:-493px -12px;}
.qatar{background-position:0px -24px;}
.argentina{background-position:-17px -24px;}
.barbados{background-position:-34px -24px;}
.fam{background-position:-51px -24px;}
.paraguay{background-position:-68px -24px;}
.lesotho{background-position:-85px -24px;}
.heard-island{background-position:-102px -24px;}
.svalbard{background-position:-119px -24px;}
.south-africa{background-position:-136px -24px;}
.burkina-faso{background-position:-153px -24px;}
.azerbaijan{background-position:-170px -24px;}
.monaco{background-position:-187px -24px;}
.denmark{background-position:-204px -24px;}
.senegal{background-position:-221px -24px;}
.benin{background-position:-238px -24px;}
.united-states{background-position:-255px -24px;}
.madagascar{background-position:-272px -24px;}
.hungary{background-position:-289px -24px;}
.dominican-republic{background-position:-306px -24px;}
.suriname{background-position:-323px -24px;}
.wales{background-position:-340px -24px;}
.saint-vincent{background-position:-357px -24px;}
.brunei-darussalam{background-position:-374px -24px;}
.macedonia{background-position:-391px -24px;}
.ireland{background-position:-408px -24px;}
.el-salvador{background-position:-425px -24px;}
.grenada{background-position:-442px -24px;}
.zambia{background-position:-459px -24px;}
.virgin-islands{background-position:-476px -24px;}
.brazil{background-position:-493px -24px;}
.macao{background-position:0px -36px;}
.ecuador{background-position:-17px -36px;}
.tf{background-position:-34px -36px;}
.swaziland{background-position:-51px -36px;}
.kn{background-position:-68px -36px;}
.ghana{background-position:-85px -36px;}
.reunion{background-position:-102px -36px;}
.bouvet-island{background-position:-119px -36px;}
.montserrat{background-position:-136px -36px;}
.egypt{background-position:-153px -36px;}
.tajikistan{background-position:-170px -36px;}
.south-korea{background-position:-187px -36px;}
.greenland{background-position:-204px -36px;}
.central-african-republic{background-position:-221px -36px;}
.bz{background-position:-238px -36px;}
.new-caledonia{background-position:-255px -36px;}
.malawi{background-position:-272px -36px;}
.iraq{background-position:-289px -36px;}
.united-arab-emirates{background-position:-306px -36px;}
.tunisia{background-position:-323px -36px;}
.phillipines{background-position:-340px -36px;}
.lebanon{background-position:-357px -36px;}
.guadeloupe{background-position:-374px -36px;}
.nigeria{background-position:-391px -36px;}
.anguilla{background-position:-408px -36px;}
.tonga{background-position:-425px -36px;}
.poland{background-position:-442px -36px;}
.kazakhstan{background-position:-459px -36px;}
.guatemala{background-position:-476px -36px;}
.china{background-position:-493px -36px;}
.spain{background-position:0px -48px;}
.armenia{background-position:-17px -48px;}
.tv{background-position:-34px -48px;}
.saudi-arabia{background-position:-51px -48px;}
.costa-rica{background-position:-68px -48px;}
.russia{background-position:-85px -48px;}
.norway{background-position:-102px -48px;}
.europeanunion{background-position:-119px -48px;}
.tanzania{background-position:-136px -48px;}
.portugal{background-position:-153px -48px;}
.sweden{background-position:-170px -48px;}
.cape-verde{background-position:-187px -48px;}
.jamaica{background-position:-204px -48px;}
.bosnia{background-position:-221px -48px;}
.australia{background-position:-238px -48px;}
.liberia{background-position:-255px -48px;}
.solvenia{background-position:-272px -48px;}
.czech-republic{background-position:-289px -48px;}
.falkland-islands{background-position:-306px -48px;}
.mayotte{background-position:-323px -48px;}
.belgium{background-position:-340px -48px;}
.latvia{background-position:-357px -48px;}
.djibouti{background-position:-374px -48px;}
.samoa{background-position:-391px -48px;}
.san-marino{background-position:-408px -48px;}
.faroe-islands{background-position:-425px -48px;}
.burundi{background-position:-442px -48px;}
.haiti{background-position:-459px -48px;}
.kenya{background-position:-476px -48px;}
.bermuda{background-position:-493px -48px;}
.indonesia{background-position:0px -60px;}
.kiribati{background-position:-17px -60px;}
.uzbekistan{background-position:-34px -60px;}
.mongolia{background-position:-51px -60px;}
.syria{background-position:-68px -60px;}
.km{background-position:-85px -60px;}
.canada{background-position:-102px -60px;}
.mauritania{background-position:-119px -60px;}
.israel{background-position:-136px -60px;}
.algeria{background-position:-153px -60px;}
.viet-nam{background-position:-170px -60px;}
.belarus{background-position:-187px -60px;}
.maldives{background-position:-204px -60px;}
.andorra{background-position:-221px -60px;}
.turkmenistan{background-position:-238px -60px;}
.papua-new-guinea{background-position:-255px -60px;}
.laos{background-position:-272px -60px;}
.ivory-coast{background-position:-289px -60px;}
.norfolk-islands{background-position:-306px -60px;}
.mozambique{background-position:-323px -60px;}
.italy{background-position:-340px -60px;}
.pakistan{background-position:-357px -60px;}
.cayman-islands{background-position:-374px -60px;}
.gs{background-position:-391px -60px;}
.cameroon{background-position:-408px -60px;}
.ukraine{background-position:-425px -60px;}
.eritrea{background-position:-442px -60px;}
.albania{background-position:-459px -60px;}
.scotland{background-position:-476px -60px;}
.liechtenstein{background-position:-493px -60px;}
.wallis-and-futuna{background-position:0px -72px;}
.guyana{background-position:-17px -72px;}
.palestine{background-position:-34px -72px;}
.sudan{background-position:-51px -72px;}
.cuba{background-position:-68px -72px;}
.nauru{background-position:-85px -72px;}
.austria{background-position:-102px -72px;}
.palau{background-position:-119px -72px;}
.hong-kong{background-position:-136px -72px;}
.germany{background-position:-153px -72px;}
.saint-helena{background-position:-170px -72px;}
.cyprus{background-position:-187px -72px;}
.japan{background-position:-204px -72px;}
.fiji{background-position:-221px -72px;}
.bangladesh{background-position:-238px -72px;}
.united-states-minor{background-position:-255px -72px;}
.aland-islands{background-position:-272px -72px;}
.morocco{background-position:-289px -72px;}
.luxembourg{background-position:-306px -72px;}
.sierra-leone{background-position:-323px -72px;}
.new-zealand{background-position:-340px -72px;}
.bahrain{background-position:-357px -72px;}
.montenegro{background-position:-374px -72px;height:12px;}
.libya{background-position:-391px -72px;}
.dominica{background-position:-408px -72px;}
.vatican-city{background-position:-425px -72px;}
.france{background-position:-442px -72px;}
.sao-tome{background-position:-459px -72px;}
.cambodia{background-position:-476px -72px;}
.united-kingdom{background-position:-493px -72px;}
.venezuela{background-position:0px -85px;}
.uruguay{background-position:-17px -85px;}
.myanmar{background-position:-34px -85px;}
.chad{background-position:-51px -85px;}
.french-guiana{background-position:-68px -85px;}
.virgin-islands-us{background-position:-85px -85px;}
.bhutan{background-position:-102px -85px;}
.martinique{background-position:-119px -85px;}
.england{background-position:-136px -85px;}
.estonia{background-position:-153px -85px;}
.thailand{background-position:-170px -85px;}
.north-korea{background-position:-187px -85px;}
.congo{background-position:-204px -85px;}
.namibia{background-position:-221px -85px;}
.mauritius{background-position:-238px -85px;}
.indian-ocean{background-position:-255px -85px;}
.timor-leste{background-position:-272px -85px;}
.french-polynesia{background-position:-289px -85px;}
.guinea{background-position:-306px -85px;}
.switzerland{background-position:-323px -85px;}
.zimbabwe{background-position:-340px -85px;}
.niger{background-position:-357px -85px;}
.malaysia{background-position:-374px -85px;}
.iceland{background-position:-391px -85px;}
.antigua-and-barbuda{background-position:-408px -85px;}
.greece{background-position:-425px -85px;}
.chile{background-position:-442px -85px;}
.vanuatu{background-position:-459px -85px;}
.romania{background-position:-476px -85px;}
.nicaragua{background-position:-493px -85px;}
.trinida-and-tobago{background-position:0px -97px;}
.pitcaim{background-position:-17px -97px;}
.serbia{background-position:-34px -97px;}
.angola{background-position:-51px -97px;}
.puerto-rico{background-position:-68px -97px;}
.seychelles{background-position:-85px -97px;}
.rwanda{background-position:-102px -97px;}
.assyria{background-position:-119px -97px;}
.south-sudan{background-position:-136px -97px;}
.caribbean{background-position:-153px -97px;}
.first-nations{background-position:-170px -97px;}
.free-syria{background-position:-187px -97px;}
